///
/// This class describes
///
class
{
public:
  // REMOVEME: Type declarations (inner classes, typedefs)
  // REMOVEME: +static+ functions, variables
  // REMOVEME: Constructors
  // REMOVEME: Destructor
  // REMOVEME: Methods (we recommend putting +const+ accessor functions near the top)
  // REMOVEME: Member variables
protected:
  // REMOVEME: Type declarations (inner classes, typedefs)
  // REMOVEME: +static+ functions, variables
  // REMOVEME: Constructors
  // REMOVEME: Destructor
  // REMOVEME: Methods (we recommend putting +const+ accessor functions near the top)
  // REMOVEME: Member variables
private:
  // REMOVEME: Type declarations (inner classes, typedefs)
  // REMOVEME: +static+ functions, variables
  // REMOVEME: Constructors
  // REMOVEME: Destructor
  // REMOVEME: Methods (we recommend putting +const+ accessor functions near the top)
  // REMOVEME: Member variables
};
