//
// Copyright (c) 2013 and onwards Instart Inc. All rights reserved.
//
// Primary Owner: rmongia
// Secondary Owner:
//
// This file describes
//

__IFDEFS__

// REMOVEME: C/C++ standard language includes (e.g. +iostream+, +vector+).

// REMOVEME: posix, system includes (e.g. +unistd.h+, +fcntl.h+)

// REMOVEME: toolchain, +boost+ libraries (e.g. +boost/noncopyable.hpp+)

// REMOVEME: inStart common libraries (e.g. +common/base/Ref.h+)

// REMOVEME: component specific includes

namespace instart { namespace __NS__ {


}} // namespace instart::__NS__

#endif
