[user]
	name = Ramandeep Singh
	email = rmongia@instartlogic.com
[core]
	editor = vim
[merge]
	tool = vimdiff
[diff]
  external = /home/rmongia/usr/bin/gitvimdiff.sh
[pager]
  diff =
[color]
	ui = auto
[alias]
	br = branch --color
	ci = commit
	co = checkout
	cp = cherry-pick
  d = diff
	st = status
  aa = commit -a --amend
  amend = commit --amend
  ca = commit -a
  com = checkout master
  fo = fetch origin
  l = log
  lo = log --oneline
  lp = log -p
  ls = log --stat
  pom = push origin master
  pull = fetch
  r = rebase
  rem = rebase master
  rom = rebase origin/master
[reviewboard]
	url = https://reviewboard.insnw.net
[commit]
	template = /home/rmongia/.git/commit-template
